@font-face {
  font-family: "TTRuiHeiJ-W4";
  src: url(TTRuiHeiJ-W4.woff);
}

@font-face {
  font-family: "TTRuiHeiJ-W2";
  src: url(TTRuiHeiJ-W2.woff);
}

@font-face {
  font-family: "digital";
  src: url(digital.otf);
}

@font-face {
  font-family: "light";
  src: url(light.eot);
}